*{
    margin: 100px;
    padding: 0px;
    box-sizing: border-box;
}
body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: auto;
    background-color: #8B59AE;

}
.contener{
    height: 100%;
    width: 99%;
    border-radius: 40px;
    background-image: url(bg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.v{
    width: 100%;
    height: 400px;
    margin: auto;
    position: absolute ;
    bottom: 0;
    right: -9px;
    background-size: cover;
    border-radius: 70% 0% 0 0;
    background-color: white;
}
.form{
    overflow: hidden;
    box-shadow: 10px 10px 10px -5px black;
    height: 80%;
    width: 40%;
    position: relative;
    border-radius: 40px;
    margin: auto;
    top: 0;
    background-image: url(bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.rg{
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: -30%;
    right: -90px;
}
.txt{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    margin: auto;
}
h2{
    margin-top: 45px;
    font-size: 40px;
    color: purple;
}
h3{
    position: absolute;
    top: 0px;
    color: pink;
}
.form-control{
    
    height: 40px;
    width: 200px;
    background-color: blue;
    margin: auto;
    
}
.form-control input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    padding: 0px 10px;
    margin: auto;
    
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
